* {
    margin: 0px;
    padding: 0px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav section */
nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size:1rem;
}
.btn {
    padding: 0.78125rem 1rem;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.78125rem 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    cursor: pointer;
}
button:hover {
    background-color: #FFFFFF;
    transform: scale(1.1);
}
/* banner section */
.ban {
    height: 47.5rem;
    background-image: url(./assets/hero-circle.png), url(./assets/hero-bg.png);
    background-size: 22.18rem, cover; 
    background-position: 50% 87px,center;
    background-repeat: no-repeat, no-repeat;
    animation: jumping 2s ease-in-out infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bgap {
    display: flex;
    gap: 15px;
}
.banner .ima {
    position: relative;
    top: 130px;
    margin-bottom: 0;
}
.new {
    position: relative;
    right: -8.125rem;
    top: -33.75rem;
    
}
.text {
    margin-top: 15rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.banner h1 {
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.banner p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
}
.bt {
     color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.78125rem 1rem;
    border: 1px solid #00FF88;
    border-radius: 3rem;
    cursor: pointer;

}
/* about section */
.about {
    background-color: #1A0B2E;
}
.para {
    width: 78%;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.para h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 1rem;
}
.para p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    opacity: 60%;
}
#gap {
    margin-top: 2rem;
}
hr {
    width: 75rem;
    color: #FFFFFF;
    margin: 5rem auto;
}
.achievement {
    width: 78%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    padding-bottom: 7rem;
}
.achievement h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    color: #00FF88;
}
.achievement h2{
       font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;
}
.box {
    text-align: center;
}
/* why container */
.why {
    background-color: #230E3D;
}
.container {
    width: 78%;
    margin: 0 auto;
    padding-top: 7rem;
}
.container h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 1rem;
    color: #FFFFFF;
    text-align: center;
}
.area>*:hover {
    background-color: #1A0B2E;
    /* transform: scale(1); */
}
.area>* {
    border: 1px solid;
    background-color: rgba(55, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px;
}
.premium {
    grid-area: premium;
}
.mobile {
    grid-area: mobile;
}
.global {
    grid-area: global;
}
.interview {
    grid-area: interview;
}
.rich {
    grid-area: rich;
}
.area {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "premium   mobile    mobile"
    "premium   global    global"
    "interview interview rich";
    padding-bottom: 7rem;
}
.area h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: auto;
    margin: 1rem 0;
    color: #FFFFFF;
}
.area p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;

}
/* featured section */
.featured {
    background-color: #1A0B2E;
    padding-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}
.featured h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    padding-top: 7rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2.5rem;
}
.video {
    width: 78%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card {
    /* width: 380px; */
    height: 560px;
    border: 1px solid #1A0B2E;
    background-color: rgba(55, 17, 101, 0.4);
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px;
}
.card:hover {
    background-color: #1A0B2E;
    transform: scale(1.1);
}
.card h1{
    padding: 0 1.5rem;
       font-size: 1.5rem;
    font-weight: bold;
    line-height: auto;
    margin: 1rem 0;
    color: #FFFFFF;
}
.card p {
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;
}
.card h3{
    padding: 1rem 1.5rem;
    display: flex;
    gap: 10px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
iframe {
    border-radius: 40px;
}
/* host section */
.host {
    background-color: #1A0B2E;
    padding-bottom: 7rem;
}
.park {
    width: 78%;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;
    background-color: #230E3D;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px;
}
.park:hover {
    background-color: #1A0B2E;
    /* transform: scale(1.1); */
}
.logo {
    display: flex;
    gap: 0.5rem;
}
.logo img {
    /* border: 1px solid #1A0B2E; */
    /* border-radius: 50%; */
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.im {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.host h1 {
       font-size: 3rem;
    font-weight: bold;
    line-height: auto;
    padding-top: 5rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2.5rem;
}
.alex h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: auto;
    margin: 1rem 0;
    color: #FFFFFF;
}
.alex p{
     font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;
    margin: 1rem 0;
}
/* footer section */
footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2.16rem;
    padding-top: 0.5rem;
    cursor: pointer;
}
.side {
    display: flex;
    gap: 8px;
}
.tech {
    margin-bottom: 2.16rem;
}
.tech img {
    width: 410px;
    height: 60px;
}
.side h1{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;
}
.copy {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 60%;
}
/* animation */
@keyframes jumping {
    from{
        background-size: 340px , cover;
    }
    to {
        background-size: 360px , cover;
    }
}
/* responsive layout */
@media screen and (max-width: 576px) {
    nav {
       padding: 20px; 
    }
    .nav img {
        width: 80px;
        height: 20px;
    }
    .banner {
        width: 100%;
    }
    .achievement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
    .video {
        display: grid;
        grid-template-columns: repeat(1,1fr)
    }
    .park {
        flex-direction: column;
    }
    footer {
        background-size: cover;
    background-position: center
    }
    .area {
        grid-template-areas: 
        "premium"
        "mobile"
        "global"
        "interview"
        "Rich";
    }
    hr {
        width: 95%;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    body {
    overflow-x: hidden;
    }
    .video h1 {
        font-size: 1rem;
    }
    body {
        overflow-x: hidden;
    }
    .new {
        width: 100px;
        height: 80px;
    }
    footer .tech {
        width: 219px;
        height: 32px;
    }
    .banner h1 {
    font-size: 2.5rem;
    }
    .para h1 {
    font-size: 2rem;
    }
    .achievement h1 {
    font-size: 2.5rem;
    }
    .container h2 {
    font-size: 2rem;
    }
    .area h1 {
    font-size: 1.3rem;
    }
    .featured h2 {
    font-size: 2rem;
    }
    .host h1 {
    font-size: 2rem;
    }
    .alex {
        text-align: center;
    }
    .logo {
        justify-content: center;
    }
}